[db]
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

[app]
SECRET_KEY=django-secret-key
DEBUG=1
ALLOWED_HOSTS=0.0.0.0,127.0.0.1
ROOT_USER=root
ROOT_EMAIL=root@famrisk.com
ROOT_PASS=
DB_HOST=db
DB_NAME=
DB_USER=
DB_PASS=
FIXTURES_DIR=/app/data_builder/data
